<?xml version="1.0" encoding="UTF-8"?><!--
  http://go.microsoft.com/fwlink/?LinkId=169433
  --><configuration><configSections><sectionGroup name="businessObjects"><sectionGroup name="crystalReports"><section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" /></sectionGroup></sectionGroup></configSections>
  <connectionStrings>
    <add name="OnlineShopConnectionString" connectionString="Data Source=VENKY\SQLEXPRESS;Initial Catalog=Guru;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
   <compilation debug="true" targetFramework="4.8">
      <assemblies>
       </assemblies>
    </compilation>
  </system.web>
<businessObjects><crystalReports><rptBuildProvider><add embedRptInResource="true" /></rptBuildProvider></crystalReports></businessObjects>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Home.aspx" />
            </files>
        </defaultDocument>
    </system.webServer></configuration>



